demucs
gradio
--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchaudio
numpy
ffmpeg-python
openai-whisper
soundfile
pydub
psutil
ffmpeg-python
fastapi
uvicorn
python-multipart
requests
